<!DOCTYPE html>
<html>
<head>
  <title>Upload File to GoFile</title>
</head>
<body>
  <h1>Upload File to GoFile</h1>
  <form method="post" action="/upload">
    <label for="url">File URL:</label>
    <input type="text" id="url" name="url" required>
    <br><br>
    <input type="submit" value="Upload">
  </form>
</body>
</html>
